.myfield{
    border:3px solid violet; 
    padding :5px;
    box-shadow: 0px 0px 15px blueviolet;
    background-color: rgba(216, 191, 216,0.4);
    margin:5px 0px 20px ;
}
.legends{
    margin:20px;
    font-weight: 700;
    width:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-shadow: 3px  3px 7px violet;
    text-align: center;
}
.column{
    border:2px solid purple;
    margin:5px;
    height: auto;
    font-weight: 600;
    box-shadow:0px 0px 3px rgb(255, 99, 71);

}
li{

}
.off{
    margin-left: 8.333333333%;
  }
.rows{
    margin-top:20px;
}
.titles{
    text-align: center;
    font-weight: 650px;

}
.buttons{
    background-color:rgba(216, 191, 216,0.4);;
}
button:hover{
    background-color: blueviolet;
    color:white;
}
.body1{
    background-color: rgba(255, 99, 71,0.1);
    height:100vh;
    box-shadow:0px 0px 100px rgba(255, 99, 71,0.7);
}